/* LOADER/SPINNER animations source */
/* https://www.youtube.com/watch?v=BwhTKJFpKSw&t=1154s */

.loader {
  height: 50px;
  margin: 40px 50px;
  transform-origin: bottom center;
  animation: rotate 2.8s linear infinite;
}

.circle {
  display: inline-block;
  background-color: rgb(1, 49, 181);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -5px;
}

.circle:nth-child(2) {
  background-color: rgb(110, 0, 90);
  animation-delay: 0.8s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}
